body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-top: 0;
    font-size: 3rem;
    animation: fadeInUp 1s ease-out;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    color: #6c757d;
    animation: fadeInUp 1s ease-out;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    animation: fadeInUp 1s ease-out;
}

.member {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
}

.member img {
    width: 150px; /* Ridotto dalle dimensioni originali */
    height: 150px; /* Aggiunto per mantenere proporzioni */
    border-radius: 50%;
    margin-bottom: 20px; /* Aumentato lo spazio sotto l'immagine */
    object-fit: cover; /* Assicura che l'immagine si adatti correttamente */
}

.member h3 {
    font-size: 1.5rem; /* Dimensione del titolo aumentata */
    margin-bottom: 10px;
    color: #343a40;
}

.member p {
    font-size: 1rem; /* Dimensione del testo ridotta */
    color: #6c757d;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;
    color: #ffffff;
    position: relative;
    clear: both;
    width: 100%;
    margin-top: 40px;
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
