/* Stile generale per il corpo della pagina */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

/* Stile per la barra di navigazione */
.navbar {
    background-color: #1f1f1f;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #0073e6;
    color: #fff;
}

/* Stile per l'intestazione */
.header {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    padding: 60px;
    text-align: center;
}

/* Stile per le sezioni */
.section {
    padding: 40px;
    text-align: center;
    background-color: #1f1f1f;
    margin: 20px 0;
    border-radius: 10px;
}

.section h2 {
    margin: 0 0 20px;
    color: #0073e6;
}

/* Stile per i prodotti */
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background-color: #2a2a2a;
    margin: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    position: relative;
    text-align: left; /* Modifica */
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 255, 0.5);
    border-color: rgba(0, 115, 230, 0.7);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-details {
    padding-bottom: 10px;
}

.product h3 {
    color: #0073e6;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.product p {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.product .add-to-cart {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 40px); /* Modifica */
    position: absolute;
    bottom: 10px; /* Modifica */
    left: 20px;
    transform: translateX(-50%);
}

.product .add-to-cart:hover {
    background-color: #0058a8;
}

/* Stile per il piè di pagina */
.footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}
